.blue {
    color:skyblue;
}

.pink {
    color:rgb(255,192,203);
}

#basic p{
    font-weight:bold;
}
body {
    font-size:20px;
    font-family:"Arial","Meiryo",sans-serif;
    text-align:center;
}

h1 {
    font-size:2rem;
    font-family:"Josefin Sans",sans-serif;
    letter-spacing:1.2em;
    text-shadow:3px 3px 3px rgb(136, 136, 136);
    border-bottom:solid 3px black;
}
